body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header{
    text-align: center;
    display: block;
    height: 50px;
    overflow: hidden;
}

header a{
    height: 100%;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-top: auto;
    padding: 0px 30px 0px 30px;
    width: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    line-height: 50px;
}

.gridField{
    text-align: center;
}

#informations{
    display: inline;
}

#informations img{
    height: 80%;
    padding: 0 30px 0 30px;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    /* position: relative; */
}

.activeAlgorithm{
    background-color: #3EFFD0;
}

.infoTriangle{
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 0px solid white;
    transition: ease 0.1s;
}

.firstTriangle{
    position: absolute;
    border-bottom: 0px solid white;
    margin-top: 0px;
    right: 19px;
    z-index: 2;
}
.secondTriangle{
    position: absolute;
    border-bottom: 0px solid #2ABE9A;
    margin-top: -3px;
    right: 19px;
    z-index: 1;
}

.infoBox{
    overflow: hidden;
    width: 300px;
    height: 0px;
    background-color: gray;
    z-index: 1;
    right: 10px;
    margin-top: 20px;
    background-color: white;
    border: 0px #2ABE9A solid;
    position: absolute;
    text-align: justify;
    transition: ease-out 0.7s;
}
.infoBox h1{
    text-align: center;
}

.infoBox p {
    padding-left: 30px;
    padding-right: 30px;
}

#dotSlider{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    gap: 10px;
}
.dot{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    border: 1px #2ABE9A solid;
    cursor: pointer;
}

header a:hover{
    background-color: #3EFFD0;
}

.marginLeft{
    /* width: auto; */
    display: inline;
    margin-left: 50px;
}

#grid{
    width: 100%;
    height: 450px;
    background: white;
    z-index: 1;
}

#startingPoint{
    background-color: #3EFFD0;
}

#endingPoint{
    background-color: #2ABE9A;
}


#buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
}

#buttonContainer h1{
    font-size: larger;
}

.menu{
    vertical-align: top;
    display: inline;
    height: 50px;
    float: left;
    margin-left: 20px;
}



.menu img{
    height: 100%;
    cursor: pointer;
}

.button{
    width: 20%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.button:hover{
    cursor: pointer;
}

.wall {
    background-color: #8081C2;
}

.green {
    background-color: #2ABE9A;
}

.purple{
    background-color: #CC58E3;
}

.blue{
    background-color: #6465AD;
}

.startField{
    background-color: #3EFFD0;
}

.endField{
    background-color: #DC7BF0;
}

.searchedFieldColor{
    background-color: #855BB5;
}

#startFieldButton:hover{
    background-color: #3EFFD0;
}

#endFieldButton:hover{
    background-color: #DC7BF0;
}

#wallButton:hover{
    background-color: #8081C2;
}

#startButton{}

.grid_size{
    margin-top: 70px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black ;
    padding-bottom: 20px;
}

.grid_size p{
    margin: 10px;
}

.center_horizontal{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#submit{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    background-color: #2ABE9A;
    line-height: 30px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}